<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Gipfel comparison</title>
    <meta name="description" content="Detect and correct wrong GPS points in your GPX track">
    <meta name="author" content="Tomas Dvorak">

    <link rel="stylesheet" href="css/styles.css?v=1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>

</head>

<body>
<div id="app">
    <div id="loader" v-if="loading">Loading datasets...</div>
    <div id="navigation">
            Map layer:
            <ul>
                <li v-for="(value, name) in leaflet.tileLayers">
                    <a href="#" v-on:click.prevent="selectTileLayer(name)" style="display: block">{{name}}</a>
                </li>
            </ul>
            Markers:
                <ul>
                    <li><span style="color: rgba(40,167,255,1)">●</span> OSM only (Overpass)</li>
                    <li><span style="color: rgba(255,0,0,1)">●</span> OGD Salzburg only</li>
                    <li><span style="color: rgba(78,255,118,1)">●</span> Both datasets</li>
                </ul>
            Data:
                <ul>
                    <li><a href="https://overpass-turbo.eu/s/Ts6">OSM via Overpass Turbo</a></li>
                    <li><a href="https://service.salzburg.gv.at/ogd/client/showDetail/359c515c-4320-42ef-b4e5-88ba1bb03c2e">OGD Salzburg</a></li>
                    <li><a href="https://github.com/todvora/gipfel#gipfel-comparison-tool">Project information</a></li>
                </ul>


    </div>
    <div id="mapid"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.6.1/proj4-src.js" integrity="sha256-zhQFFrV12x+erToMLZw2rEIT4KK/dn8/XhyS3ZPgmhs=" crossorigin="anonymous"></script>


<script type="module">
    import Geohash from 'https://cdn.jsdelivr.net/npm/latlon-geohash@2.0.0';
    window.Geohash = Geohash;
</script>

<script src="js/app.js"></script>
</body>
</html>
